* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to right,
    #49303e,
    #3b2b3f,
    #49303e,
    #181e41,
    #272440,
    #181e41,
    #262340
  );
}
nav {
  width: 100%;
  height: 70px;
  background-color: #49303e, #3b2b3f, #49303e, #181e41, #272440, #181e41,
    #262340;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
nav div {
  width: 20%;
  text-align: center;
}

nav div p {
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

nav ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Lucida Console', Courier, monospace;
}

nav ul li {
  font-size: 1.15rem;
}

nav ul li .contact {
  background-color: #80005f;
  padding: 15px 20px;
  border-radius: 15px;
  transition: 0.25s border-radius;
}

nav ul li .contact:hover {
  border-radius: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
